body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
}

.navbar-light .navbar-toggler {
	color: rgba(0,0,0,.5);
	border-color: rgba(0,0,0,.1);
	margin-left: -40px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading-jumbotron {
    padding: 5px 20px;
    background-color: #355C7D;
}
.heading-info {
	float: left;
	width: 100%;
	padding: 22px 0 0;
	text-align: center;
}

ul.social {
    width: auto;
    padding: 0;
    margin: 0;
    float: left;
}
ul.social li {
    float: left;
    margin: 3px 3px 5px 0;
    list-style: none;
}
ul.social li a {
	float: left;
	width: 30px;
	height: 30px;
	border: 2px solid #ddd;
	text-align: center;
	padding-top: 5px;
	color: #ddd;
	font-size: 16px;
	border-radius: 50%;
	transition: 1s;
}
ul.social li a:hover{
    background: #fff;
    border: 2px solid #fff;
    color: #355C7D;
    transform: rotate(360deg);
    box-shadow: 2px 2px 24px #fff;
}
.mobile-no i{
    color: #feCC07;
    font-size: 20px;
}
.top-mobile {
	color: #fff;
	font-size: 18px;
	top: 4px;
	left: 0;
}
.heading-number {
    float: left;
    cursor: pointer;
}
.heading-number span{
    color: #fff;
    font-size: 15px;
    transition: .5s;
}
.heading-number span:hover{
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-right: 12px;
}
.menu-body{
    background-color: darkcyan;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 80px ;
}

.msg-body {
	margin-bottom: 10px;
}
.msg-body h2 {
	color: #fff;
	border-left: 5px solid #fdcc09;
	background: #355C7D;
	text-transform: uppercase;
	font-weight: 700;
	margin: 10px 0;
	padding: 13px 5px 8px 10px;
	font-size: 22px;
}
.msg-content {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #eee;
	box-shadow: 0 0 7px 0px #ddd;
	padding: 7px 12px;
	text-align: justify;
	overflow: auto;
	margin-bottom: 10px;
}
.msg-image {
    height: 180px;
    width: 160px;
    float: left;
    margin: 0 10px 10px 0;
}

.msg-content-sidebar h2 {
	color: #fff;
	border-left: 5px solid #fdcc09;
	background: #355C7D;
	text-transform: uppercase;
	font-weight: 700;
	margin: 10px 0;
	padding: 13px 5px 8px 10px;
	font-size: 22px;
}
.msg-content-sidebar .txt-style {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #eee;
	box-shadow: 0 0 7px 0px #ddd;
	padding: 7px 12px;
	text-align: justify;
	overflow: auto;
	margin-bottom: 10px;
}
.msg-content-sidebar .txt-style ul {
	list-style: none;
	list-style-image: url(./img/hand-right.png);
}

.copyright {
    background-color: #083b60 !important;
    color: #fff;
}
.page-footer{
    color: white;
}
.page-footer i{
    color: #feCC07;
}
.page-footer a{
    list-style: none;
    color: aqua;
}
.page-footer a:hover{
    text-decoration: none;
    color: #feCC07;
}
.page-footer h2 {
    font-size: 20px;
}
.page-footer hr {
	margin-top: 0;
	margin-bottom: 5px;
	border: 0;
	border-top: 2px solid #fdcc09;
}
.page-footer ul, .content-message ul {
	padding-left: 24px;
	list-style: none;
	list-style-image: url(./img/hand-right.png);
}
.webFacebook {
	background-color: #fff;
	border-radius: 10px;
}
.content-message {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #eee;
	box-shadow: 0 0 7px 0px #ddd;
	padding: 7px 12px;
	text-align: justify;
	overflow: auto;
    margin-bottom: 10px;
    
}
.qr-code{
    text-align: center;
}

.margin-top{
    margin-top: 210px;
}

.profile-content-message {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #eee;
	box-shadow: 0 0 7px 0px #ddd;
	padding: 7px 12px;
	text-align: justify;
	overflow: auto;
	margin-bottom: 10px;
}
.pdf-download-link, .pdf-download-link:hover {
    text-decoration: none;
}
.pdf-btn {
	display: block;
	padding: 5px 20px;
	background: #333;
	color: #fff;
	font-size: 18px;
	margin-top: 20px;
	border: 2px solid transparent;
	transition: all ease .25s;
	-webkit-transition: all ease .25s;
}

.pdf-btn:hover {
    background-color: #fff !important;
    border: 2px solid #333;
    color: #333;

}
.office i{
    color: #feCC07;
    font-size: 15px;
}

.heading h2 {
	color: #fff;
	border-left: 5px solid #fdcc09;
	background: #355C7D;
	text-transform: uppercase;
	font-weight: 700;
	margin: 10px 0;
	padding: 13px 5px 8px 10px;
	font-size: 22px;
}
.service{
    margin-bottom:80px 0 80px;
}
.service-content ul{
    padding-left: 24px;
	list-style: none;
	list-style-image: url(./img/hand-right.png);
}
.service a{
    color: #000;
    margin-bottom: 5px;
}
.service a:hover{
    text-decoration: none;
    color: #feCC07;
}
.service ul li{
    margin-bottom: 5px;
}